@import 'customization';
@import 'variables';

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: $main_black;
    color: $main_white;
    font-family: 'Gilroy', sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    @media screen and (max-width:1720px){
        max-width: 1150px;
        padding-left: 12px;
        padding-right: 12px;
    }
}

h1,h2,h3,h4,h5,h6,p,a,span,ul,ol,li,hr,button {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: $main_black;
}

::-webkit-scrollbar-thumb {
    background: $main_blue;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}